@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(21 19 19);
  background-image: linear-gradient(169deg, #201a3c, #290e1b);
  color: #e5e5e5;
  color-scheme: dark;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: calc(100px + 1rem) 1fr;
}

main,
header {
  @apply p-2 gap-2;
}

main {
  --history-width: 300px;
  display: grid;
  max-width: calc(100vw - .5rem);
  grid-template-areas:
    "packages        history"
    "script-selector history";
  grid-template-columns: calc(100% - var(--history-width)) var(--history-width);
  grid-template-rows: 1fr 54px;
}

main #packages {
  grid-area: packages;
}

main #history {
  grid-area: history;
}

main #script-selector {
  grid-area: script-selector;
}

.glass-panel {
  @apply bg-white bg-opacity-5 rounded border border-white border-opacity-10;
}

.toast {
  @apply flex flex-col items-center justify-center absolute right-4 top-4 w-52 h-[54px] px-4 transition-all duration-300 rounded;
}

.toast-message {
  color: #e5e5e5;
}

.toast.toast-info {
  @apply bg-info;
}

.toast.toast-success {
  @apply bg-success;
}

.toast.toast-warning {
  @apply bg-warning;
}

.toast.toast-error {
  @apply bg-error;
}